# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
venv/
env/
*.egg-info/

# Jupyter
.ipynb_checkpoints

# Logs and cache
*.log
*.out
*.tmp
*.cache/
*.DS_Store

# Image output
output.png
output_images/
reconstructed.png

# IDE
.vscode/
.idea/

# Tests
htmlcov/
.coverage
pytest_cache/